<!-- Header -->
<header class="header-main">

	<!-- Logo Block -->
	<div class="middle-header container-fluid no-padding">
		<!-- Container -->
		<div class="container">
			<div class="row">
				<div class="col-md-3 logo-block pull-left">
					<a href="#" title="Logo"><img src="../images/logo.png" alt="Logo" /></a>
				</div>
				<div class="col-md-9 text-right pull-right">
					<div class="location">
						<h3><img src="../images/location-ic.png" alt="Location" /> Edifício CDL - Sala 1102</h3>
						<p>Av. Mal. Castelo Branco, 355 - Jd. Tropical, Resende - RJ, 27541-220</p>
					</div>
					<div class="phone">
						<h3><img src="../images/phone-ic.png" alt="phone" /> (24) 99941-4781</h3>
						<p>Fale Conosco Agora - 24/7 - Atendimento Personalizado</p>
					</div>
				</div>
			</div>
		</div><!-- Container -->
	</div><!-- Logo Block /- -->
	<!-- Navigation -->
	<nav class="navbar ow-navigation">
		<div class="container">
			<div class="row">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav flexItem">
						<li class="active"><a href="../index.html">Inicio</a></li>
						<li><a href="../about.html">Sobre</a></li>
						<li><a href="../services.html">Serviços</a></li>
						<!--<li><a href="team.html">Our Team</a></li>-->
						<!--<li><a href="departments.html">departments</a></li>							-->
						<li><a href="../gallery.html">Galeria </a></li>
						<!--<li class="dropdown">-->
						<!--<a href="blog.html" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>-->
						<!--<i class="ddl-switch fa fa-angle-down"></i>-->
						<!--<ul class="dropdown-menu">-->
						<!--<li><a href="blog-post.html">Blog Post</a></li>-->
						<!--</ul>-->
						<!--</li>-->
						<li><a href="../contact-us.html">Contato</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
</header>
